.bar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20;
    position: fixed;
    bottom: 0;
    width: calc(100vw - 20);
    padding: 20 70;
}
.bar a svg{
    height: 30px;
}
.bar svg path{
    fill:black;
}
.mailDiv{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.mailDiv a{
    color: black;
    padding: 0 10;
    font-size: 18;
}