.header{
    width: calc(100% -130);
    border-bottom: 0.5px solid black;
    padding: 5 70;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}

.header img{
    height: 130;
    padding: 30 0 ;
    margin: 0;
    width: min-content;
}

@media screen and (width <= 650) {
    .header{
        width: calc(100% -130);
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .header img{
        height: 100;
        padding: 20 0 ;
        margin: 0;
        width: min-content;
    }
}