.buttonGroup {
    width: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
}
.buttonGroup div{
    padding: 20;
    font-size: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s;
}
.buttonGroup div svg{
    height: 40;
}
.middleButton {
    width: max-content;
}

/* .buttonGroup div:hover{
    background-color: #2DC7FF;
} */

