.contentBars{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-content: flex-start;
    padding-top: 80px;
}

.contentBars p{
    width: min-content;
}

.wholeContentBar{
    display: flex;
    flex-direction: row;
    gap: 10;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.contentCategory {
    background-color: #2DC7FF;
    display: flex;
    gap: 20;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 3 20;
    flex-wrap: nowrap;
    color: black;
    text-decoration: underline;
    text-underline-offset: 4px;
    text-wrap-mode: nowrap;
    font-size: 18;
}

.contentBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: black;
    gap: 20;
    font-size: 18;
    padding: 3 20;
}

@media screen and (width <= 650px) {
    .contentBars{
        gap: 10px;
        padding-top: 20px;
        width: 80%;
        height: calc(100vh - 340px);
        overflow-y: scroll;
        scrollbar-width: 0;

    }
    
    .contentBars::-webkit-scrollbar{
        display: none;
    }

    .wholeContentBar{
        gap: 5;
    }

    .contentCategory {
        gap: 10;
        padding: 3 20;
        font-size: 12;
    }

    .contentCategory img{
        height: 24px;
    }

    .contentBlock {
        gap: 10;
        font-size: 12;
        padding: 3 20;
    }
    .contentBlock img {
        height: 24px;
    }
}