.contentBars{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    align-content: flex-start;
    padding-top: 80px;
}

.contentBars p{
    width: min-content;
}

.wholeContentBar{
    display: flex;
    flex-direction: row;
    gap: 10;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
}

.contentCategory {
    background-color: #2DC7FF;
    display: flex;
    gap: 20;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 5 20;
    flex-wrap: nowrap;
    color: black;
    text-decoration: underline;
    text-wrap-mode: nowrap;
    font-size: 18;
}

.contentBlock {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: black;
    gap: 20;
    font-size: 18;
    padding: 5 20;
}