.content{
    padding-left: 70px;
    width: calc(100vw - 100px);
    height: calc(100vh - 277px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.content p{
    font-size: 18px;
    padding-top: 15vh;
    width: 70%;
}


.buttonGroup {
    width: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    position: fixed;
    bottom: 50px;
    left: 70px;
    z-index: 1;
    background-color: #F7E8A4;
}
.buttonGroup div{
    padding: 20;
    font-size: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    transition: 0.5s;
}
.buttonGroup div svg{
    height: 40;
}
.buttonGroup div svg path{
    fill: black;
}

.middleButton {
    width: max-content;
    color: black;
}

.buttonGroup div:hover{
    background-color: #2DC7FF;
    color: black;
}

.buttonGroup div:hover svg path{
    fill: black;
}

@media screen and (width <= 650) {
    .content{
        padding-left: 0;
        width: 100vw;
        height: 100vh;
        height: calc(100vh - 202px);
        justify-content: center;
        align-items: flex-start;
    }
    .content p{
        font-size: 16px;
        /* text-align: center; */
        padding-top: 100px;
        width: 80%;
    }
    .buttonGroup {
        bottom: 20;
        left: auto;
        right: auto;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding-top: 20px;
        border-top: 0.5px solid black ;
    }
    .buttonGroup div{
        padding: 20;
        font-size: 20;
    }
    .buttonGroup div svg{
        height: 26;
    }
}
