.content{
    padding-left: 70px;
    width: calc(100vw - 100px);
    height: calc(100vh - 277px);
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    color: white;
}
.content p{
    font-size: 18px;
    padding-top: 15vh;
    width: 70%;
}

.content .cards {
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: nowrap;
    width: 100%;
    overflow-x: scroll;
    justify-content: flex-start;
    align-items: center;
}

.content .cards::-webkit-scrollbar {
    display: none;
}

.buttonGroup {
    width: min-content;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    position: fixed;
    bottom: 50px;
    left: 70px;
    z-index: 1;
    background-color: black;
}
.buttonGroup div{
    padding: 20;
    font-size: 30;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    cursor: pointer;
    transition: 0.5s;
}
.buttonGroup div svg{
    height: 40;
}
.buttonGroup div svg path{
    fill: white;
}

.middleButton {
    width: max-content;
    color: white;
}

.buttonGroup div:hover{
    background-color: #F7E8A4;
    color: black;
    border-color: #F7E8A4;
}

.buttonGroup div:hover svg path{
    fill: black;
}

@media screen and (width <= 650) {
    .content{
        padding: 0;
        width: 100vw;
        height: calc(100vh - 202px);
        justify-content: center;
        align-items: flex-start;
    }

    .content .cards {
        padding-right: 0;
        gap: 10px;
        flex-wrap: nowrap;
        width: 100vw;
        padding: 0 20px;
        overflow-x: scroll;
        justify-content: flex-start;
        align-items: center;
    }

    .buttonGroup {
        bottom: 20;
        bottom: 0;
        left: auto;
        right: auto;
        justify-content: center;
        align-items: center;
        width: 100vw;
        padding: 20px 0;
        border-top: 0.5px solid white ;
    }
    .buttonGroup div{
        padding: 20;
        font-size: 20;
    }
    .buttonGroup div svg{
        height: 26;
    }
}
