* {
    padding: 0;
    margin: 0;
}
html, body{
    overflow: hidden;
    min-height: 100vh;
}

p, a{
    text-decoration: underline;
    text-underline-offset: 4px;
}

::selection {
    color: black;
    background-color: #C46AF0;
}